{{ define "main" }}

<main>
	<article class="post">
		<header>
			<h1>{{ .Title | markdownify }}</h1><hr>
			<div>
				{{ if (gt .Params.date 0) }}<p class="date">{{ .Date.Format "2006/01/02" }}</p>{{ end }}
			</div>

			{{- range .Params.authors }}
			  {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
			    <figure>
			      <img src="{{ .Params.photo }}" alt=""/>
			      <figcaption>
			        <a href="{{ .Permalink }}">{{ .Params.name }}</a>
			      </figcaption>
			    </figure>
			  {{ end }}
			{{ end }}
		</header>
		{{ .Content }}		
	</article>
</main>

{{ partial "footer.html" . }}

{{end}}