<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}" />
    <!-- <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" /> -->
    <!-- <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" /> -->
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    {{ partial "navbar.html" . }}
    <nav class="navbar-brand">
      <ul class="menu">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
      <hr/>
    </nav>
