<nav class="main grid-flex">
	<div class="brand grid-flex">
	  <a href="/" class="logo">
	    <img src="{{ "/logo.png" | relURL }}" alt="Hackstofan">
	  </a>
	  <a href="/" class="text">
			<h5><b>Hackstofan</b></h5><br>
			<small class="text-muted">Tækniraus Hagstofunnar</small>
	  </a>
	</div>
	
	<ul class="links">
	  <li><a href="https://github.com/hackstofan" target="_blank">{{ partial "fontawesome.html" "github" }} Hackstofan</a></li>
	  <li><a class="youtube" href="#" target="_blank">{{ partial "fontawesome.html" "youtube" }} Kúrsar</a></li>
	</ul>
</nav>