<nav class="main grid-flex">
	<div class="brand grid-flex">
	  <a href="/" class="logo">
		{{ partial "svg/hackstofan.svg" }}
	  </a>
	  <a href="/" class="text">
			<h4><b>Hackstofan</b></h4><br>
			<small class="slogan text-muted">Tækniraus Hagstofunnar</small>
	  </a>
	</div>
	
	<ul class="links">
	  <li><a href="https://github.com/hackstofan" target="_blank">{{ partial "fontawesome.html" "github" }} Hackstofan</a></li>
	  <li><a class="youtube" href="#" target="_blank">{{ partial "fontawesome.html" "youtube" }} Kúrsar</a></li>
	</ul>
</nav>